/* ---- reset ---- */

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("aset/foto/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
